.users ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.users li {
  width: 85%;
  padding: 11px 10px;
  border-radius: 2px;
  font-size: 18px;
  color: #ffffff;
  background-color: #cfa56d;
}
